body{
    background-color: #424B54;
}

#main{
    /* tudo centralizado */
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30px;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    bottom: 0;
}

.greyIcon{
    color: #3A434B;
    background-color: white;
    text-align: center;
}

.separator {
    width: 80%;
    height: 2px;
    background-color: #3A434B;
    grid-column: 1 / 4;
    margin: 0 5%;
}

.user{
    grid-column: 1;
    display: flex;
    align-items: center;
}

.user-moedas{
    grid-column: 3;
    display: flex;
    align-items: center;
}

.separator-vertical{
    grid-column: 2;
    background-color: #3A434B;
    width: 2px;
    height: 50%;
}

.bolinha{
    background-color: white;
    border-radius: 100%;
    padding: 1vh;
    text-align: center;
    display: inline-flex;
    margin: 0 5px;
}

