body{
    background-color: #424B54;
}

#main{
    /* tudo centralizado */
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 96px;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;


}


.btnGrande{
    padding: 2.2rem 1rem;
    font-size: calc(9pt + 1vh);   
    width: 100%;
    grid-column: 1 / 3;

}

.btnPequeno {
    padding: 1.5rem 1rem;
    font-size: calc(9pt + 1vh);   
    width: 100%;
}

.btnPequeno:hover, .btnGrande:hover{
    opacity: 0.5;
}

.btnPequeno, .btnGrande{
    background-color: #FF5A5F;
    margin: 2.5vh auto;
    border-radius: 5px;
    text-align: center;
}

ion-icon {
    margin: 0 5px;
}
@media screen and (min-width: 380px) {
    .btnPequeno{
        padding: 2.2rem 1rem;
    }
}


