<div id="main">
  <div class="btnGrande" id="inscrever" (click)="registrar()">Inscrever-se</div>
  <div class="btnGrande" id="entrar" (click)="logar()">Entrar</div>
<!-- 
  <div class="containerSocial">
    <div>Inscreva-se com uma conta existente</div>
    <ion-row>
      <button class="google"><ion-icon name="logo-google"></ion-icon></button>
      <button class="facebook"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-row>
  </div> -->


<ion-row>
  <button class="btnMedio" (click)="voltar()"><ion-icon name="arrow-round-back"></ion-icon>Voltar</button>
</ion-row>


</div>