#main{
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;

    position: relative;
    height: 100%;

   

}

.inactive{
    display: none;
}


.btnGrande{
    padding: 1.5rem 1rem;
    font-size: calc(9pt + 1vh);   
    width: 75%;
}

.btnMedio, .btnGrande{
    background-color: #FF5A5F;
    margin: 2.5vh auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: block;
    line-height: normal;

}

.btnMedio:hover, .btnGrande:hover{
    opacity: 0.5;
}

.btnMedio{
    padding: 1rem;
    font-size: calc(8pt + 1vh);
    width: 60%;
    margin-top: 3rem;
}

#entrar{
    background-color: #A05359;
}

.containerSocial{  
    background-color: #3A434B;
    margin: 2rem;
    padding: 1rem;
}

.containerSocial div{
    font-family: 'Roboto', sans-serif;
    font-size: calc(5pt + 1vh);
    text-align: center;

}

ion-icon[ name="arrow-round-back"]{
    float: left;
    font-size: 1.5rem;
}

// .google{
//     background-color: #ea4335;

// }

// .facebook{
//     background-color: #3b5998;
// }

// .google, .facebook{
//     padding: 0.5em;
//     font-size: 2rem;
//     margin: 0.5rem 0;
//     border-radius: 5px;;
// }

// ion-row{
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
// }
