#telaOpcoes{
    /* tudo centralizado */
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;
    position: relative;
    height: 100vh;
    padding: 0 1.5rem;
}


.separator, .separatorFrase {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 1.5vh;
    font-size: 1.2em;
    max-width: 650px;

}
.separator::before, .separator::after, .separatorFrase::before, .separatorFrase::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #3A434B;
}
.separatorFrase::before {
    margin-right: 10px;
}
.separatorFrase::after {
    margin-left: 10px;
}

.greyIcon{
    color: #3A434B;
    background-color: white;
    text-align: center;
}
#opt:hover, #opt:hover .greyIcon{
    color: #56616b;
    background-color: lightgray;
}


.topo {
    padding-top: 8%;
}



#opt {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 4vh;
    padding: 1vh;
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}


#logo img{
    max-height: 8vh;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0px 4px 4px #222222);
}


.btnGrande{
    padding: 1.5rem 0.5rem;
    font-size: calc(9pt + 1vh);  
}

.btnPequeno{
    padding: 0.5rem;
    font-size: calc(7pt + 1vh);
    max-width: 48%;
    display: inline-block;
    margin: 2.5vh 0 !important;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#classificar::before, #sairConta::before, #voltar::before{
    float: left;
    font-size: 1.5rem;    
    font-family: "Ionicons";

}

#classificar::before{
    content: "\f2fc";
}

#sairConta::before, #voltar::before{
    content: "\f108";
}

.naoClica{
    opacity: 0.5;
}

.btnMedio, .btnGrande, .btnPequeno{
    background-color: #FF5A5F;
    margin: 2.5vh auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.btnMedio:hover, .btnGrande:hover, .btnPequeno:hover{
    opacity: 0.5;
}

.btnMedio{
    padding: 1rem;
    font-size: calc(8pt + 1vh);
    max-width: 60%;
}

#textoSobre p{
    font-size: 2.2vh;
    font-family: 'Nunito', sans-serif;
    margin: 1vh 0;
    text-align: justify;
}


@media screen and (min-width: 1440px) {
    .separator::before, .separator::after, .separatorFrase::before, .separatorFrase::after{
        min-width: 65px;

    }

    .separator, .separatorFrase{
        margin: 1.5vh 5vw;
    }
}

ion-icon{
    float: left;
    font-size: 1.5rem!important;
}