<div id="telaOpcoes">
  <div class="topo">
      <div id="logo"><img src="https://i.ibb.co/k8P41Qy/slaptraplogo.png" alt="Logo SlapTrap"></div>
      <div class="separatorFrase">Opções</div>
  </div>

  <div class="btnGrande" id="classificar">Classificar o Jogo</div>
  <div class="btnGrande naoClica" id="sairConta">Sair da Conta</div>

  <div class="separatorFrase">Sobre</div>
  <div id="textoSobre"><p>
      SlapTrap é um jogo digital baseado em Rouba-Monte ou Tapão. 
      Retire uma carta do monte a cada turno, bata na pilha quando o valor da contagem for igual ao da carta. 
      Equipe cartas-armadilha para adicionar condições de batidas válidas.
      <br><br>
      Desenvolvedora: Júlia Castro Stefanello</p>
  </div>

  <div class="btnMedio" id="voltar" (click)="fechaOpcoes()">Voltar</div>

</div>