

body{
    background-color: #424B54;
}

// ion-icon{
//     color: #424B54;
// }

.separator, .separatorFrase {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 1.5vh;
    font-size: 18pt;
}
.separator::before, .separator::after, .separatorFrase::before, .separatorFrase::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #3A434B;
}
.separatorFrase::before {
    margin-right: 10px;
}
.separatorFrase::after {
    margin-left: 10px;
}

.greyIcon{
    color: #3A434B;
    background-color: white;
    text-align: center;
}
#opt:hover, #opt:hover .greyIcon{
    color: #56616b;
    background-color: lightgray;
}


#topo {
    padding: 5% 0;
}



#opt {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 4vh;
    padding: 1vh;
    border-radius: 100%;
    background-color: white;
    z-index: 9999;
}


#logo img{
    max-height: 6vh;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0px 4px 4px #222222);
}

#inimigo, #jogador, #mesaJogo{
    width: 100%;
    display: block;
}


#jogador{
    position: absolute;
    bottom: 2%;
}

#jogador, #inimigo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6vw;
}


#main{
    /* tudo centralizado */
    height: 100vh;
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}



.barraVida{
    width: 100%;
    height: 8vh;
    background-color: #305B65;
    display: block;
    margin: 0 10vh 0 0;
    border-radius: 5px;
    
    
}

.vida{
    background-color: #087E8B;
    display: block;
    border-radius: 5px;
    height: 100%;
}

/* editar porcentagem de vida = editar width */
#vidaInimigo{
    width: 100%;
}

#vidaJogador{
    width: 100%;
}

.infoVida{
    display: flex;
    align-items: center;
    height: 100%;
}

.infoVida > *{
    margin: 1.5vh;
    font-size: calc(11pt + 0.4vh);

}



#nomeInimigo, #nomeJogador{
    margin-right:auto;
}

.cartasTrap{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
}

#mesaJogo{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#inimTrap1, #carta1{
    transform: rotate(-15deg);
}

#inimTrap2, #carta2{
    z-index: 9;
}

#inimTrap3, #carta3{
    transform: rotate(15deg);
    z-index: 99;

}

.cartaVirada, .baralho{
    background-color: #FFA0A3;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #FF5A5F 8px, #FF5A5F 15px);
    border: 5px solid #FF5A5F;
    
    width: 20vh;
    height: 28vh;
    /*margin: 2vh 2vw;*/
    border-radius: 5%;
    display: inline-block;
}

.baralho{
    flex: 0 0 50%;
    margin: 2vh 2vw;
}

#contador{
    text-align: center;
    font-size: calc(13pt + 1vh);
}

.cartaVirada, .cartaJogador{
    box-shadow: 0 0 10px #000;
    width: 4vh!important;
    height: 6vh!important;
    margin: 0 0 0 -25%!important;
}


#cartaPilha, .cartaJogador, .cartaJogador span{
    width: 20vh;
    height: 28vh;
    margin: 2vh 2vw;
    border: 3px solid white;
    background-color: white;
    border-radius: 5%;
    font-size: calc(5pt + 0.4vh);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartaPilha, .baralho{
    display: inline-block;
    max-width: 145px;
    max-height: 210px;
}

.semCarta{
    opacity: 15%;
}


.podeClicar:hover{
    opacity: 70%;
}

.podeClicar{
    padding: 6vh 4vh;
    box-shadow: 0 0 2em #FF5A5F;
    background-color: #ffabad;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #ff7d81 8px, #ff7d81 15px);
    border-color: #ff7d81;
}


