<div id="main">
    <div class="topo">
        <div id="opt" (click)="carregaOpcoes()"><ion-icon name="settings" class="greyIcon"></ion-icon></div>
        <div id="logo"><img src="https://i.ibb.co/k8P41Qy/slaptraplogo.png" alt="Logo SlapTrap"></div>
        <div class="separator"></div>
    </div>
</div>

<div id="telaOpcoes" class="inactive">
    <div class="topo">
        <div id="logo"><img src="https://i.ibb.co/k8P41Qy/slaptraplogo.png" alt="Logo SlapTrap"></div>
        <div class="separatorFrase">Opções</div>
    </div>

    <div class="btnGrande" id="classificar">Classificar o Jogo</div>
    <div class="btnGrande" id="sairConta">Sair da Conta</div>

    <div class="separatorFrase">Sobre</div>
    <div id="textoSobre"><p>
        SlapTrap é um jogo digital de uma versão do jogo de baralho Rouba-Monte ou Tapão. 
        Tire uma carta do monte para colocá-la na pilha, bata na pilha quando o valor da contagem for o mesmo que a carta. 
        Equipe cartas-armadilha para adicionar mais condições em que é possível bater na pilha.</p>

        <p>Desenvolvedora: Júlia Castro Stefanello</p>
    </div>

    <div class="btnMedio" id="voltar"><ion-icon name="arrow-round-back"></ion-icon>Voltar</div>

</div>
