<div id="main">

  <div class="wrapper">
    <div class="title">
        <span id="fraseOver">{{fraseOver}}</span>
      </div>
      <div class="stats">
        <div class="texto"><ion-icon name="time" size="large" class="margem"></ion-icon><span>Tempo:</span></div>
        <span class="dado"><span id="minutos">{{minutos}}</span>:<span id="segundos">{{segundos}}</span></span>
      </div>
     
      <div class="stats">
        <div class="texto"><div class="bolinha"><ion-icon name="logo-usd" size="medium" class="greyIcon"></ion-icon></div><span>Moedas:</span></div>
        <span class="dado"><span id="moedas">{{moedas}}</span></span>
      </div>
  </div>

  <div class="area">
    <div class="subtitle">Dobre suas Recompensas!</div>
    <div class="btnMedio verde"><ion-icon name="play-circle" size="large"></ion-icon><span>Assista ao Vídeo</span></div>
  </div>
  <div class="btnMedio embaixo" (click)="voltaInicio()"><ion-icon name="arrow-round-back" size="large"></ion-icon><span>Voltar</span></div>

  
</div>
