
.mod{
    background-color: #424B54;
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    padding: 2rem;

}

body{
    background-color: #424B54;
}

ion-item  *{
    font-family: 'Roboto', sans-serif!important;
    color: black!important;
}



.inner-scroll > *, .inner-scroll{
    background-color: #424B54!important;
}

.btnMedio{
    background-color: #FF5A5F;
    margin: 2.5vh auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: block;
    padding: 1rem;
    font-size: calc(8pt + 1vh);
    width: 75%;
    line-height: inherit;
}

.btnMedio:hover{
    opacity: 0.5;
}

ion-icon{
    float: left;
}

ion-icon[ name="arrow-round-back"]{
    float: left;
    font-size: 1.5rem;
}

